<p id="notice"><%= notice %></p>

<h1>Station Templates</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Resume</th>
      <th scope="col">Procedure</th>
      <th scope="col">Evaluation</th>
      <th scope="col">Score</th>
      <th scope="col">Minutes</th>
      <th scope="col">Level</th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @station_templates.each do |station_template| %>
      <tr>
        <td><%= station_template.name %></td>
        <td><%= station_template.resume %></td>
        <td><%= station_template.procedure %></td>
        <td><%= station_template.evaluation %></td>
        <td><%= station_template.score %></td>
        <td><%= station_template.minutes %></td>
        <td><%= station_template.level %></td>
        <td><%= link_to 'Show', station_template %></td>
        <td><%= link_to 'Edit', edit_station_template_path(station_template) %></td>
        <td><%= link_to 'Destroy', station_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Station Template', new_station_template_path %>
