<p id="notice"><%= notice %></p>

<h2><%= t('station_template') + ": " + @station_template.name %></h2>
<p>
  <strong><%= t('title') %></strong>
  <%= @station_template.name %>
</p>

<p>
  <strong><%= t('resume') %></strong>
  <%= @station_template.resume %>
</p>

<p>
  <strong><%= t('procedure') %></strong>
  <%= @station_template.procedure %>
</p>

<p>
  <strong><%= t('evaluation') %></strong>
  <%= @station_template.evaluation %>
</p>

<p>
  <strong><%= t('score') %></strong>
  <%= @station_template.score %>
</p>

<p>
  <strong><%= t('minutes') %></strong>
  <%= @station_template.minutes %>
</p>

<p>
  <strong><%= t('level') %></strong>
  <%= @station_template.level %>
</p>

<%= link_to t('edit'), edit_station_template_path(@station_template) %> |
<%= link_to t('back'), station_templates_path %> |

<% @station_template.questions.each do |question| %>
  <div class="question-box">
    <p class="question-body"><%= question.body %></p>
    <ul>
      <% question.choices.each do |choice| %>
        <li><%= choice.body %></li>
      <% end %>
    </ul>
      <div id="<%= question.id %>" class="hidden-choice">
        <%= form_with(model: Choice.new, url: new_foo_path(@station_template, question.id)) do |form| %>
          <% if false %>
          <div class="field">
            <%= form.label :question_id %>
            <%= form.text_field :question_id, value: question.id %>
          </div>
          <% end %>

          <%= form.hidden_field :question_id, value: question.id %>

          <div class="field">
            <%= form.label :body %>
            <%= form.text_area :body %>
          </div>

          <div class="field">
            <%= form.label :correct %>
            <%= form.check_box :correct %>
          </div>

          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
  <button class="new-question-button" onclick="normal(<%= question.id %>)">
    Cancelar
  </button>
      </div>
      <a onclick="mudar(<%= question.id %>)">Adicionar nova alternativa</a>
  </div>
<% end %>

<%= link_to new_station_template_question_path(@station_template) do %>
  <button class="new-question-button">
    Adicionar Questão
  </button>
<% end %>

<script>
    function mudar(id) {
       /* console.log(id);
        var v = "<input type=\"text\">";

        v += "<input type=\"checkbox\"> correta?";
        v += "<button>Criar</button>";
        v += "<button onclick=\"normal(" + id + ")\">Cancelar</button>";

        var n = document.getElementById(id);
        n.innerHTML = v;*/
        var n = document.getElementById(id);
        n.className = "visible-choice";
    }

    function normal(id) {
        var n = document.getElementById(id);
        n.className = "hidden-choice";
    }
</script>
