<p id="notice"><%= notice %></p>

<h2><%= t("exams") %></h2>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col"><%= t("code") %></th>
      <th scope="col"><%= t("schedule") %></th>
      <th scope="col"><%= t("start") %></th>
      <th scope="col"><%= t("end") %></th>
      <th scope="col"><%= t("edit") %></th>
      <th scope="col"><%= t("destroy") %></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.code %></td>
        <td><%= exam.schedule.name %></td>
        <td><%= exam.start.strftime(t("date_format")) %></td>
        <td><%= exam.end.strftime(t("date_format")) %></td>
        <td><%= link_to 'edit', edit_exam_path(exam), class: "material-icons" %></td>
        <td><%= link_to 'delete', exam, class: "material-icons", method: :delete, data: { confirm: t("are_you_sure") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('schedules'), schedules_url %>
