<p id="notice"><%= notice %></p>

<h2><%= @schedule.name %></h2>
<%= render partial: "shared/card",
  locals: {
    icon: "description", 
    title: "resume", 
    desc: @schedule.resume
  }
%>
<div class="field card">
  <div class="row">
    <div class="col-2">
      <span class="material-icons">class</span>
    </div>
    <div class="col-10">
      <div class="card-body">
        <h4 class="card-title">
          <%= t("stations_template") %>
        </h4>
        <p class="card-text">
          <%= t("fixed_station_sequence")+": "+ t(@schedule.fixed_station_sequence.to_s) %>
        </p>  
        <p class="card-text">
          <%= t("stations_template")+": "+@schedule.station_templates.size.to_i.to_s %>
        </p>  
        <p class="card-text">
          <%= t("total_time")+": "+@schedule.total_time.to_s %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="text-right">
  <button class="btn btn-primary mr-4" data-toggle="modal" data-target="#modal_candidate_data">
    <%= t('start_exam') %>
  </button>
  <%= link_to t('cancel'), home_index_url, class: 'text-primary' %>
</div>
<%# Modal que solicita os dados do candidato %>
<div class="modal fade" id="modal_candidate_data" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content bg-main-color">
      <div class="modal-header">
        <h5 class="modal-title"><%= t('exam_inscription') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <span class="font-weight-bold d-block"><%= @schedule.name %></span>
          <span class="font-weight-bold"><%= t('professors') %></span>
          <ul>
            <%# @exam.user.each do |user| %>
              <li><%= @exam.user.name %></li>
            <%# end %>
          </ul>
        </div>
        <%= render 'exam_applies/form', exam_apply: @exam_apply %>
      <div>
    </div>
  </div>
</div>