<!DOCTYPE html>
<html>
  <head>
    <title>RubyEosce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
    * {
        font-family: Cabin;
    }

    .zoom {
      transition: transform .2s; /* Animation */
    }

    .zoom:hover {
      transform: scale(1.0125); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    </style>
  </head>

  <body>
    <%= yield %>

  <footer style="background-color: #000">
    <p style="color: #fff">FACISA</p>
    <p style="color: #fff">IFRN</p>
    <p style="color: #fff">Santa Cruz</p>
  </footer>
  </body>
</html>
