<!DOCTYPE html>
<html>
  <head>
    <title>AVSS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="bg-main-color">
  <%= javascript_include_tag %>
    <header class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to root_url, class: "no-decoration" do %>
          <h1 class="mr-5">AVSS</h1>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <%= link_to t('home'), root_url, class: "nav-link active" %>
            <a class="nav-link" href="#"><%= t('features') %></a>
            <a class="nav-link" href="#"><%= t('about') %></a>
            <% if !user_signed_in? %>
              <%= link_to t('register'), new_user_registration_path, class: "nav-link" %>
            <% end %>
          </div>
          <div class="justify-content-end">
            <label class="material-icons" for="language">language</label>
            <select id="language"
            onchange="changeLocale(this,'<%= request.base_url %>','<%= request.original_url %>')">
              <option value="pt">PT</option>
              <option value="en"<%= I18n.locale == :en ? " selected": ""%>>EN</option>
            </select>
            <% if user_signed_in? %>
              <%= link_to t('logout'), destroy_user_session_path, method: :delete, class: "btn btn-danger text-light" %>
            <% else %>
              <button class="btn btn-success font-weight-bold" data-toggle="modal" data-target="#modal_apply_exam">
                <%= t('exam') %>
              </button>
              <%= link_to t('login'), new_user_session_path, class: "btn btn-primary text-light" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <%= yield %>
    </main>
    <%# Modal que solicita o código do exame %>
    <div class="modal fade" id="modal_apply_exam" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%= t('exam_code') %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_with(url: exams_path(:id), method: 'get', local: true) do %>
              <%= text_field_tag(:id) %>
              <%= submit_tag("Search") %>
            <% end %>
          <div>
        </div>
      </div>
    </div>
  </body>
</html>
