<!DOCTYPE html>
<html>
  <head>
    <title>AVSS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="bg-main-color">
  <%= javascript_include_tag %>
    <header class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to root_url, class: "no-decoration" do %>
          <h1 class="mr-5">AVSS</h1>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <%= link_to 'Inicio', root_url, class: "nav-link active" %>
            <a class="nav-link" href="#">Funcionalidades</a>
            <a class="nav-link" href="#">Sobre</a>
            <% if !user_signed_in? %>
              <%= link_to 'Cadastre-se', new_user_registration_path, class: "nav-link" %>
            <% end %>
          </div>
          <div class="justify-content-end">
          <label class="material-icons" for="language">language</label>
          <select id="language"
          onchange="changeLocale(this,'<%= request.base_url %>','<%= request.original_url %>')">
            <option value="pt">PT</option>
            <option value="en"<%= I18n.locale == :en ? " selected": ""%>>EN</option>
            </select>
            <% if user_signed_in? %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger text-light" %>
            <% else %>
              <%= link_to 'Login', new_user_session_path, class: "btn btn-primary text-light" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
